<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="restaurant finder">
    <title>Hunting Resto</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
</head>

<body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header>
        <nav id="drawer">
            <div class="nav-content">
                <div class="nav-brand">
                    <h1>Hunting Resto</h1>
                </div>
                <a id="hamburger" href="#" aria-label="navigation-menu">☰</a>
                <ul class="nav-menu">
                    <li class="nav-item"><a href="index.html">Home</a></li>
                    <li class="nav-item"><a href="#">Favorite</a></li>
                    <li class="nav-item"><a href="https://github.com/tataredhaalfath" rel="noreferrer"
                            target="_blank">About Us</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="hero">
        <div class="hero__content">
            <h1>Find Your Favorite Resto With<br> The Simple Step</h1>
            <p>Make your culinary experience more meaningful</p>
        </div>
    </div>
    <main id="maincontent">
        <section class="content">
            <div class="recomended">
                <h1 class="recomended__label">Most Recomended</h1>
                <div class="recomend">

                </div>
            </div>
            <div class="restaurant">
                <h1 class="restaurant__label">Explore Restaurant</h1>
                <div class="resto">

                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-menu">
            <ul>
                <li><a href="#">Help</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <p>Copyright &copy; 2021 - Hunting Resto</p>
    </footer>
</body>

</html>